#wrapper{
	width: 80%;
	margin: auto;
	margin-top: 20%;
	color: white;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
body{
	background-color: purple;
}
.personal_image{
	height: 50%;
	width: 50%;
}