ul{
		list-style-type: none;
		text-align: center;
		font-family:"Lato";
            font-weight: 300;
            display: block;
            padding-top: 20px;
            padding-bottom: 20px;
           
	}
html{
    background-color: #eeeeee;
}

@media only screen and (min-width: 250px) {
    
    header{
        font-family: "Lato";
        font-weight: bold;
        font-size:250%;
        color:#333192;
        padding:20px;
        width:95%;
        text-align:center;
    }

    header img{
        float:right;
        vertical-align:top;
        width:100%;
    }

    nav{
        width:100%;
        padding: 15px;
        background-color:#333092;
        text-align: center;
        line-height:30px;
        margin-bottom: 5px;
    }
    
    nav a{
        text-decoration: none;
        color:#f1f1f1;
        font-weight: 100; 
        font-family: Lato;
        letter-spacing: 2px;
        padding-left: 15px;
        padding-right:15px;
        display:block;
        font-size:80%;
    }
    
    br{
        clear: both;
    }
    
    .banner{
        width:100%;
        margin-bottom: 0px;
    }
    
    
    footer{
        width:100%;
        font-weight: 100; 
        font-family: Lato;
        letter-spacing: 2px;
        text-align: center;
        font-size: 60%;
        position: sticky;
        bottom: auto;
    }
    
    footer img{
        width:100%;
    }
    
    
}

@media only screen and (min-width: 600px) {
       header{
        font-family: "Lato";
        font-weight: bold;
        font-size:250%;
        color:#333192;
        width:95%;
        text-align: left;
        vertical-align:top;
    }

    header img{
        float:right;
        max-width:250px;
        margin-top: -23px;
    }

    nav{
        width:100%;
        background-color:#333092;
        text-align: center;
        line-height:20px;
    }
    
    nav a{
        text-decoration: none;
        color:#f1f1f1;
        font-weight: 100; 
        font-family: Lato;
        letter-spacing: 2px;
        padding-left: 15px;
        padding-right:15px;
        display: inline;
    }
    
    br{
        clear: both;
    }
    
    .wrapper{
        width:100%;
        margin: auto;
        height:222px;
    }
    
    .infofaculty{
        font-family: Lato;
        width:80%;
        color:#333192;
        font-size: 80%;
        display: inline-block;
        margin: auto;
        padding-top: 70px;
        margin-left: 70px;
    }
    
    .head{
        width:30%;
        padding-right:20px;
        margin-left:-100px;
        text-align: center;
        height:222px;
        display: inline-block;
        vertical-align: top;
    }
    
    .facultypicture{
        height:250px;
        z-index: -1;
        margin-right: -40px;
        border-radius: 10px;
    }
    
    .wrapperimg{
        display: inline-block;
        float:left;
        overflow: hidden;
        height:300px;
    }
    
    .sliderdivider{
        height:250px;
        display: inline-block;
        float:left;
        position: relative;
        margin-left: -150px;
        min-width: 10%;
        max-width:50%;
    }
    
     .eventswrapper{
        margin:auto;
        width:90%;
        text-align: center;
        align-content: center;
        margin-top: -150px;
    }
    
    .widget{
        display: inline-block;
        width:100%;
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .events{
        font-family: Lato;
        background-color:#333092;
        width:100%;
        display:inline-block;
        height: 300px;
        vertical-align: top;
        text-align: justify;
        border-radius: 2%;
        padding-bottom: 40px;
    }
    
    .optionsheading{
        text-align: center;
        font-size:100%;
        font-weight:400;
        letter-spacing: 2px;
        color:whitesmoke;
        font-family: Lato;
    }
    
    .events h3{
        font-size:80%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: -15px;
        color:whitesmoke;
        text-align: center;
    }
    
    .events p{
        text-align: left justify;
        font-size:90%;
        padding-left:20px;
        padding-right:20px;
        font-weight: 300;
        color:whitesmoke;
        margin-bottom: -5px;
        text-align: center;
    }
    
    .events img{
        height:210px;
        object-fit: cover;
        width:90%;
        border-radius: 4px;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    
    .verticalline{
        height:20px;
    }
    
    .mainheading{
        position: inherit;
        background-color: #eeeeee;
        width:80%;
        margin: auto;
        text-align: center;
        font-family: Lato;
        padding-top:10px;
        padding-bottom:10px;
        color:#333092;
    }
    
    .quote{
        font-family: Lato;
        font-style:italic;
        font-weight: 300;
        text-align: center;
        font-size: 130%;
        color: #333092;
        width:80%;
        margin: auto;
    }
    
    .intropara{
        font-family: Lato;
        font-size:100%;
        width:80%;
        text-align: justify;
        margin: auto;
        font-weight: 400;
        margin-bottom: 150px;
    }

     
}

@media only screen and (min-width: 768px) {

    header{
        font-family: "Lato";
        font-weight: bold;
        font-size:250%;
        color:#333192;
        width:95%;
        text-align: left;
        vertical-align:top;
    }

    header img{
        float:right;
        max-width:250px;
        margin-top: -23px;
    }

    nav{
        width:100%;
        background-color:#333092;
        text-align: justify;
        line-height:20px;
    }
    
    nav a{
        text-decoration: none;
        color:#f1f1f1;
        font-weight: 100; 
        font-family: Lato;
        letter-spacing: 2px;
        padding-left: 15px;
        padding-right:15px;
        display: inline;
    }

    .wrapper{
        width:100%;
        margin: auto;
        height:222px;
        align-content: center;
    }
    
    .infofaculty{
        font-family: Lato;
        color:#333192;
        font-size: 150%;
        display: inline-block;
        margin: auto;
        margin-left: 40px;
        padding-top: 70px;
        width:100%;
    }
    
    .head{
        min-width:30%;
        max-width: 60%;
        text-align: center;
        height:222px;
        display: inline-block;
        vertical-align: top;
    }
    
    .facultypicture{
        height:300px;
        z-index: -1;
    }
    
    .wrapperimg{
        display: inline-block;
        float:left;
        overflow: hidden;
        max-width: 45%;
        border-radius: 15px;
    }
    
    .sliderdivider{
        height:300px;
        display: inline-block;
        float:left;
        position: relative;
        margin-left: -170px;
    }
    
    .mainheading{
        font-family: "Lato";
        font-weight: bold;
        font-size:200%;
        width:80%;
        text-align: center;
        color:#313a49;
        margin: auto;
        margin-top:10px;
    }
    
    br{
        clear: both;
    }
    
    .eventswrapper{
        margin:auto;
        width:90%;
        text-align: center;
    }
    
    .widget{
        display: inline-block;
        width:42%;
        margin: auto;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    .events{
        font-family: Lato;
        background-color:#333092;
        width:100%;
        display:inline-block;
        height: 300px;
        vertical-align: top;
        text-align: justify;
        border-radius: 3%;
        padding-bottom: 40px;
        text-align: left; 
    }
    
    .optionsheading{
        text-align: center;
        font-size:100%;
        font-weight:400;
        letter-spacing: 2px;
        color:whitesmoke;
        font-family: Lato;
    }
    
    .events h3{
        font-size:80%;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: -15px;
        color:whitesmoke;
    }
    
    .events p{
        text-align: left justify;
        font-size:90%;
        padding-left:20px;
        padding-right:20px;
        font-weight: 300;
        color:whitesmoke;
        margin-bottom: -5px;
    }
    
    .events img{
        height:150px;
        object-fit: cover;
        width:90%;
        border-radius: 4px;
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    
    .verticalline{
        width:2px;
        height:350px;
        display:inline-block;
        vertical-align:top;
        background-color: #333092;
    }
    
    .quote{
        font-family: Lato;
        font-style:italic;
        font-weight: 300;
        text-align: center;
        font-size: 130%;
        color: #333092;
        width:80%;
        margin: auto;
    }
    
    .intropara{
        font-family: Lato;
        font-size:100%;
        width:80%;
        text-align: justify;
        margin: auto;
        font-weight: 400;
        //padding-bottom: 60px;
    }
}
